.root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.typesContainer {
  margin-bottom: 20px;
}

.typeImage {
  margin-right: 5px;
  width: 40px;
}

.typeImage:last-of-type {
  margin-right: 0;
}
