.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.headerImg {
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 600px;
}

@media (max-width: 600px) {
  .root {
    margin-top: 0;
  }

  .headerImg {
    border-radius: 0;
    width: 100vw;
  }
}
